<template>
	<div>
		<p v-if="error">
			{{message}}
		</p>
		<slot v-if="!error || error && preserve"></slot>
	</div>
</template>
<style lang="scss" scoped>
</style>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({})
export default class ErrorBoundary extends Vue {
	@Prop({ default: 'Something went wrong' })
	public message!: string;
	@Prop({ default: false })
	public preserve!: boolean;
	public error: boolean = false;
	public errorCaptured(err, vm, info) {
		this.error = true;
	}
}
</script>
