<template>
	<div class="card" @click.prevent="selectCharacter(character)">
		{{character.name}}
	</div>
</template>
<style lang="scss" scoped>
</style>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Getter, Action } from 'vuex-class';
import * as StarWarsNamespaces from '@/modules/StarWars/namespaces';
import { SWCharacter, SWPlanet, SWFilm } from '@/modules/StarWars/types';

@Component({})
export default class CharacterCard extends Vue {
	@Prop({})
	public character!: SWCharacter;
	@Action(StarWarsNamespaces.SELECT_CHARACTER)
	public selectCharacter!: any;
}
</script>
