<template>
	<div class="card" @click.prevent="selectPokemon(pokemon)">
		{{pokemon.name}}
	</div>
</template>
<style lang="scss" scoped>
</style>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Getter, Action } from 'vuex-class';
import * as PokemonNamespaces from '@/modules/Pokemon/namespaces';
import { Pokemon } from '@/modules/Pokemon/types';

@Component({})
export default class PokemonCard extends Vue {
	@Prop({})
	public pokemon!: Pokemon;
	@Action(PokemonNamespaces.SELECT_POKEMON)
	public selectPokemon!: any;
}
</script>
