<template>
	<div>
		<h1>Star Wars Characters:</h1>
		<div class="characters">
			<CharacterCard :character="character" v-for="character in characters" :key="character.name" />
		</div>
	</div>
</template>
<style lang="scss" scoped>
</style>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Getter, Action } from 'vuex-class';
import * as StarWarsNamespaces from '@/modules/StarWars/namespaces';
import CharacterCard from '@/modules/StarWars/components/CharacterCard.vue';
import { SWCharacter, SWPlanet, SWFilm } from '@/modules/StarWars/types';

@Component({
	components: {
		CharacterCard,
	},
})
export default class StarWarsView extends Vue {
	@Getter(StarWarsNamespaces.GET_CHARACTERS)
	public characters!: SWCharacter[];
	@Getter(StarWarsNamespaces.GET_PLANETS)
	public planets!: SWPlanet[];
	@Getter(StarWarsNamespaces.GET_FILMS)
	public films!: SWFilm[];
}
</script>
