<template>
	<div class="pokemon-view">
		<h1>Pokémon:</h1>
		<div class="pokemon" >
			<template v-for="pokemon in pokemons">
				<ErrorBoundary :key="pokemon.id" message="This pokemon could not be rendered">
					<PokemonCard :pokemon="pokemon"/>
				</ErrorBoundary>
			</template>
		</div>
		<div v-if="selectedPokemon" class="modal-container">
			<div class="modal-body">
				<h2> {{selectedPokemon.name}} </h2>
				<p>
					Height: {{selectedPokemon.height}}
				</p>
				<button @click.prevent="selectPokemon(null)"> Close </button>
			</div>
		</div>
	</div>
</template>
<style lang="scss" scoped>
.pokemon {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}
.card {
	background-color: rgba(255, 255, 255, 0.5);
	margin: 1em;
	display: flex;
	min-width: 7em;
	min-height: 7em;
	border-radius: 1rem;
	padding: 1ex;
	cursor: pointer;
}
.modal-container {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.75);
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	> div {
		// display: flex;
		width: 60%;
		height: 60%;
	}
}
</style>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Getter, Action } from 'vuex-class';
import * as PokemonNamespaces from '@/modules/Pokemon/namespaces';
import PokemonCard from '@/modules/Pokemon/components/PokemonCard.vue';
import { Pokemon } from '@/modules/Pokemon/types';

@Component({
	components: {
		PokemonCard,
	},
})
export default class PokemonView extends Vue {
	@Getter(PokemonNamespaces.GET_SELECTED_POKEMON)
	public selectedPokemon!: Pokemon | null;
	@Getter(PokemonNamespaces.GET_POKEMON)
	public pokemons!: Pokemon[];
	@Action(PokemonNamespaces.SELECT_POKEMON)
	public selectPokemon!: any;
	get prs() {
		if (!this.selectedPokemon) {
			return null;
		}
		return this.selectedPokemon.height;
	}
}
</script>
