<template>
	<div id="app" class="app">
		<nav>
			<router-link :to="{name: 'Star Wars Home'}">
				Star Wars
			</router-link>
			<router-link :to="{name: 'Pokemon Home'}">
				Pokémon
			</router-link>
		</nav>
		<ErrorBoundary :preserve="true">
			<router-view />
		</ErrorBoundary>
	</div>
</template>
<style lang="scss">
html {
	font-size: 16px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #000;
	color: #fff;
}
</style>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Getter, Action } from 'vuex-class';
@Component({})
export default class App extends Vue {
	private mounted() {
		// this.launchNotification(this.notification);
	}
}
</script>
